BINANCE_FUTURES_API_KEY=your_testnet_api_key
BINANCE_FUTURES_API_SECRET=your_testnet_api_secret
BINANCE_FUTURES_TESTNET=true
BINANCE_FUTURES_REST_BASE_URL=https://testnet.binancefuture.com
BINANCE_FUTURES_WS_BASE_URL=wss://fstream.binance.com
CRYPTO_TRADING_DB_PATH=Data/crypto_trading.db
CRYPTO_TRADING_LOG_LEVEL=INFO
CRYPTO_TRADING_DRY_RUN=true
DEMO_STRATEGY_ENABLE_TRADING=false
CRYPTO_TRADING_ALLOWED_SYMBOLS=BTCUSDT,ETHUSDT
CRYPTO_TRADING_MAX_NOTIONAL_PER_ORDER=50
CRYPTO_TRADING_MAX_TOTAL_NOTIONAL=200
CRYPTO_TRADING_MAX_OPEN_ORDERS=5
